<!--The content below is only a placeholder and can be replaced.-->
<!-- <div class="container">
  <div #listening>Listening...</div>
  
  <div><button [ngClass] = "isListening ? 'fa-microphone-slash' : 'fa-microphone'" class="fa" #icon (click)="iconClick($event)" [disabled]="isListening"></button>
    
    <i class="fa fa-close" (click)="close()"></i>
  </div>
  <div class="text-box" #container contenteditable="false"></div>
</div>
<audio class="sound" #sound src="../assets/chime.mp3">Text</audio> -->

<div class="container-fluid">
  <div class="listening">
    <div class="listeningDiv">
      <span style="width: 70%; text-align: center;" class="my-1 mx-1" #listening></span>
      <span style="min-width: 10%;">
        <button class="sound fa fa-microphone my-1 mx-1" [ngClass]="isListening ? 'activeCls': 'nonActiveCls'"
        #icon (click)="iconClick($event)"></button>
        <button class="closeBtn fa fa-close my-1 mx-1" (click)="close()"></button>
      </span>
    </div>
    <div class="output">
      <div class="text-box my-1" #container contenteditable="false">
        <div class="textCls my-1 py-1" *ngFor="let ele of items">
          <span style="min-width: 90%">{{ele}}</span>
          <span style="min-width:10%"><button class="fa fa-volume-up mx-1" style="outline: none;" (click)="speak(ele)"></button></span>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>